@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item d-flex align-items-center me-2">
			<a id="manage" class="nav-link p-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @UserManager.GetUserName(User)!</a>
		</li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button id="logout" type="submit" class="btn btn-light rounded-pill px-3 text-danger fw-bold shadow-lg">Изход</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item me-2">
			<a class="btn btn-liquid rounded-pill px-3 shadow-lg" id="register">Регистриране</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-light rounded-pill px-3 text-danger fw-bold shadow-lg" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
		</li>
	}
</ul>
