@{
    ViewData["Title"] = "Create";
}

<div class="container">
	<h1>Създаване на нов участник</h1>
	<hr />
    <form asp-action="Create" enctype="multipart/form-data">
		<partial name="_ParticipantFormPartial" />

		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/form-image-upload.js"></script>
}
