@page
@model LoginModel

@{
	ViewData["Title"] = "Вход";
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-5 col-md-8">
			<div class="glass-panel p-4 p-md-5 shadow-lg">
				<div class="text-center mb-4">
					<img src="~/images/logo-rеmove-bg.png" alt="Logo" class="img-fluid mb-3" style="max-height: 80px;" />
					<h1 class="fw-bold fs-2 text-forest">@ViewData["Title"]</h1>

				</div>

				<form id="account" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

					<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control border-0 bg-light rounded-3 shadow-sm" autocomplete="username" aria-required="true" placeholder="email@example.bg" />
						<label asp-for="Input.Email" class="text-muted">Имейл адрес</label>
						<span asp-validation-for="Input.Email" class="text-danger small"></span>
					</div>

					<div class="form-floating mb-3">
						<input asp-for="Input.Password" class="form-control border-0 bg-light rounded-3 shadow-sm" autocomplete="current-password" aria-required="true" placeholder="парола" />
						<label asp-for="Input.Password" class="text-muted">Парола</label>
						<span asp-validation-for="Input.Password" class="text-danger small"></span>
					</div>

					<div class="d-flex justify-content-between align-items-center mb-4 px-1">
						<div class="form-check">
							<input class="form-check-input border-secondary" asp-for="Input.RememberMe" />
							<label asp-for="Input.RememberMe" class="form-check-label small text-muted">
								Запомни ме
							</label>
						</div>
						<a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none small text-danger fw-bold">Забравена парола?</a>
					</div>

					<button id="login-submit" type="submit" class="btn btn-red rounded-pill w-100 py-3 fw-bold shadow-lg transition-all mb-4">Влизане</button>

					<!-- Separator -->
					<div id="hero-about-separator" class="text-center pt-3">
						<img src="~/images/separator.png" style="width: 55%;" alt="Bulgarian Pattern Separator" />
					</div>

					<div class="text-center pt-4">
						<p class="text-muted mb-2">Нямате профил?</p>
						<a class="btn btn-liquid rounded-pill px-4 text-forest fw-bold">Регистрирайте се</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
